<h3>find contact</h3>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="contactId" class="sr-only">Enter Contact ID</label>
    <input
      [(ngModel)]="contactId"
      type="text"
      class="form-control"
      name="contactId"
      placeholder="Enter Contact ID"
    />
  </div>
  <button (click)="findContact()" type="submit" class="btn btn-primary mb-2">
    Find
  </button>
</form>

<br />
<div *ngIf="loading">
  Loading...
</div>
<div>{{ error }}</div>

<div *ngIf="contact">
  <app-contact-detail [contact]="contact"></app-contact-detail>
</div>
